html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    background-color: rgba(0,0,0,.01);
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
.kun_uz{
    width: 1320px;
    margin: 0 auto;
}
header img{
    width: 1320px;
}
nav{
}
nav img{
    position: relative;
}
nav .menu{
    display: inline-flex;
    vertical-align: middle;
}
.menu li{
    max-width: 100px;
    margin-right: 20px;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
}
.nav_link{
    display: inline-flex;
}
.covid{
    width: 150px;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,.9);
    border-radius: 20px;
    background-color: #f54545;
}
.covid a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 7px;
}
.covid:before{
    content: '';
    display: inline-flex;
    width: 23px;
    height: 23px;
    margin: 4px;
    padding: 12px;
    background-image: url("../images/covid2.svg");
    background-color: red;
    vertical-align: bottom;
    color: white;
    border: 2px solid red;
    border-radius: 50%;
}
.covid:hover{
    background-color: red;
}
.search{
    background-image: url("../images/search.svg");
    width: 27px;
    height: 27px;
    margin-right: 10px;
    color: black;
    position: relative;
    top: 5px;
}
.profile img{
    position: relative;
    width: 28px;
    height: 28px;
    top: 5px;
    margin-right: 10px;
}
.til{
    position: relative;
    width: 130.09px;
    padding: 5px 7px 10px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    background-color: white;
}
.til img{
    position: absolute;
    top: 6px;
    right: 4px;
    transition: all .5s ease;
}
.rotate{
    transform: rotate(-180deg);
}
.rotatex{
    transform: rotate(-180deg);
    transition: all .5s ease;
}
.til a{
    text-decoration: none;
    color: black;
}
.active{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}
.langs{
    display: none;
    right: -1px;
    position: absolute;
    width: 130.09px;
    border: 1px solid black;
    border-top: none;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    line-height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.langs a{
    text-decoration: none;
    color: black;
}
.yangi_malumot{
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 20px 40px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 10px;
}
.axborot{
    border-right: 1px solid rgba(0,0,0,.4);
}
.axborot:last-child{
    border-right: 0;
}
.cf:after{
    content: '';
    display: table;
    clear: both;
}
.covid_1{
    min-width: 330px;
}
.oz_img{
    float: left;
    margin-right: 10px;
}
.oz_covid{
    float: left;
    width: 200px;
    margin-right: 80px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
    font-size: 18px;
}
.covid_1 img{
    margin-right: 20px;
}
.covid_2{
    min-width: 290px;
    margin-left: 20px;
}
.covid_2 > p{
    float: left;
    width: 100px;
}
.covid_2 > p > .nomer{
    color: red;
    font-size: 24px;
}
.covid_2 > p > span{
    color: red;
    font-size: 14px;
}
.covid_2 > img{
    float: right;
    margin-right: 20px;
}
.covid_3{
    width: 290px;
    margin-left: 20px;
}
.covid_3 > p{
    float: left;
    width: 120px;
}
.covid_3 > p > span{
    color: red;
    font-size: 14px;
}
.covid_3 > p > .nomer{
    color: red;
    font-size: 24px;
}
.covid_3 > img{
    float: right;
    margin-right: 20px;
}
.covid_4{
    margin-left: 20px;
}
.side_left{
    float: left;
    width: 980px;
    margin: 20px auto;
    /*padding-right: 10px;*/
}
.side_left a .col{
    float: left;
   max-width: 75%;
}
.side_left a .col:last-child{
    padding: 25px;
}
.side_left a .col {
    width: 50%;
}
.side_left a .col:last-child{
    background-color: #74c8e5;
}
.side_left a .col img{
    width: 490px;
}
.side_right {
    float: left;
   max-width: 340px;
    margin: 20px auto;
}
.side_left a .col p .text{
    font-size: 12px;
    vertical-align: top;
}
.side_left a .col .date img{
    width: 13px;
    height: 15px;
    margin-right: 6px;
}
.side_left a .col .sarlavha{
    font-size: 24px;
    color: #222;
}
.side_left a .col .sarlavha_matni{
    margin-top: 8px;
    font-size: 15px;
    line-height: 1.4;
    color: #222;
}
.side_left a .col .sarlavha:hover{
    color: blue;
    text-decoration: underline;
}
.side_left .row .col{
    width: 50%;
    float: left;
    margin: 30px 0 30px 0;
}
.side_left .row .col .maqola_rasm{
    float: left;
}
.side_left .row .col .maqola_rasm img{
    width: 160px;
}
.side_left .row .col .maqola_text{
    float: left;
    width: 320px;
    margin-left: 10px;
}
.side_left .row .col .maqola_text .maqola_link{
    text-decoration: none   ;
}
.side_left .row .col .maqola_date{
    font-size: 12px;
}
.side_left .row .col .maqola_date img{
    width: 13px;
    height: 15px;
    margin-right: 6px;
}
.side_left .row .col .maqola_link:hover{
    color: #6c6cf3;
}
.muharrir{
    margin: 20px auto;
}
.muharrir_tanlovi{
    float: left;
}
.muharrir_tanlovi > a{
    font-size: 20px;
    color: #222222;
    text-decoration: none;
    font-weight: bold;
}
.muharrir_tanlovi > a:before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: blueviolet;
}
.barchasi{
    float: right;
}
.barchasi > a:hover{
    text-decoration: none;
}
.col-1{
    width: 32%;
    float: left;
    margin-right: 19px;
}
.col-1:last-child{
    margin-right: 0;
}
.row .col-1 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.row .col-1 a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
}
.side_right .maqolalar .songi_yangilik{
    font-weight: bold;
    font-size: 18px;
}
.side_right .maqolalar .songi_yangilik a{
    text-decoration: none;
    color: #222222;
    padding: 20px;
}
.side_right .maqolalar .songi_yangilik a:before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: blueviolet;
}
.side_right .maqolalar .row .col{
    width: 320px;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #222222;
}
.side_right .maqolalar .row .col .side_left_link{
    text-decoration: none;
    color: #222222;
}
.side_right .maqolalar .row .col .side_left_link:hover p{
    color: #6c6cf3;
}
.side_right .maqolalar .row .col a img{
    margin-right: 20px;
}
.side_right .maqolalar .row .col span{
    font-size: 13px;
    vertical-align: top;
}
.side_right .koproq_yangilik{
    margin-left: 20px;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #222222;
    transition: all .5s ease    ;
}
.side_right .koproq_yangilik:hover{
    background-color: darkblue;
    color: white;
}
.reklama{
    width: 1320px;
}
.dolzarb_xabarlar{
    margin: 20px 0;
}
.dolzarb_xabarlar .dolzarb_xabar{
    float: left;
    font-size: 18px;
    color: darkblue;
}
.dolzarb_xabarlar .dolzarb_xabar a{
    text-decoration: none;
}
.dolzarb_xabarlar .dolzarb_xabar a:before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: darkblue;
    border-radius: 50%;
}
.dolzarb_xabarlar > a{
    float: right;
}
.dolzarb_xabarlar > a:hover{
    text-decoration: none;
    color: #6c6cf3;
}
.dolzarb .row{
    width: 49%;
    float: left;
    margin-right: 2%;
}
.dolzarb .row:last-child{
    margin-right: 0;
}
.dolzarb .row a img{
    width: 100%;
    height: 400px;
}
.dolzarb .row h4 a{
    display: inline-block;
    margin: 15px 0;
    text-decoration: none;
    color: #222222;
    font-weight: bold;
    font-size: 20px;
}
.dolzarb .row .link a:hover{
    color: darkblue;
    text-decoration: underline;
}
.dolzarb .row .col{
    position: relative;
    width: 48%;
    margin-right: 4%;
    float: left;
}
.dolzarb .row .col:nth-child(2n){
    margin-right: 0;
}
.dolzarb .row .col a{
    font-size: 18px;
}
.dolzarb .row .col img{
    width: 312px;
    height: 187px;
    margin-bottom: 18px;
    object-fit: cover;
}
.dolzarb .row .col .ozbek{
    position: absolute;
    top: 20px;
    padding: 3px 15px;
    font-size: 14px;
    text-decoration: none;
    background-color: #6a6ade;
    color: white;
}
.dolzarb .first {
    position: relative;
}
.dolzarb .first .ozbek{
    position: absolute;
    top: 20px;
    padding: 3px 15px;
    font-size: 14px;
    text-decoration: none;
    background-color: #6a6ade;
    color: white;
}
.dolzarb .first .yozuv{
    position: absolute;
    bottom: 30px;
    padding: 3px 15px;

}
.dolzarb .first .yozuv a{
    font-size: 32px;
    text-decoration: none;
    color: white;
}
.dolzarb .row .yozuv1{
    position: absolute;
    bottom: 10px;
    padding: 3px 15px;

}
.dolzarb .row .yozuv1 a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.left{
    float: left;
    width: 65.3%;
}
.left .row {
    position: relative;
    width: 48.5%;
    margin-bottom: 10px;
    min-height: 472px;
    float: left;
}
.left .left_row{
    margin-right: 25px;
}
.left .row img{
    width: 100%;
    height: 254px;
}
.left .row .link{
    margin: 10px auto;
}
.left .row .link a{
    font-size: 18px;
    color: #222222;
    text-decoration: none;
}
.left .row:hover .active{
    text-decoration: underline;
    color: darkblue;
}
.right{
    float: right;
    width: 32.7%;
    margin-bottom: 0;
}
.right .intervyu .dolzarb_xabar{
    float: left;
}
.right .intervyu a{
    float: right;
}
.right .intervyu{
    margin-bottom: 20px;
}
.ozbek{
    position: absolute;
    top: 20px;
    padding: 3px 15px;
    font-size: 14px;
    text-decoration: none;
    background-color: #6a6ade;
    color: white;
}
.right .col-2{
    padding: 20px 0 20px 20px;

}
.right .col-2 .matn_qism{
    width: 63%;
    float: left;
    font-weight: bold;
    line-height: 1.2;
    color: #222222;
}
.right > a{
    margin-bottom: 20px;
    background-color: #eff2f8;
}
.container .right  .a_link  .col-2:hover .matn_qism p{
    color: #6c6cf3;
}
.right  .col-2 .img_qism{
    float: right;
}
.right .col-2 .img_qism img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.right .hamkorlik{
    width: 50%;
    float: right;
    margin-bottom: 0;
    padding: 7px 20px;
    border: 1px solid black;
    text-align: center;
    background-color: unset;
    text-decoration: none;
}
.slidershow{
    width: 100%;
    height: 290px;
    overflow: hidden;
    padding-top: 10px;
}
.slidershow .sliders{
    position: relative;
    width: 200%;
    height: 100%;
    display: flex;
}
.slidershow .sliders .slide{
    width: 310.25px;
    flex-shrink: 0;
    transition: .4s;
    border: 1px solid rgba(0,0,0,.2);
    position: relative;
    margin-right: 1%;
    padding-bottom: 20px;
}
.slidershow .sliders .slide .slide_link{
    width: 100%;
    min-height: 100%;
    text-decoration: none;
    color: #222222;
    font-weight: bold;
    position: absolute;
}
.slidershow .sliders .slide .slide_link:hover{
    border: 1px solid rgba(0,0,0,.9);
}
.slidershow .sliders .slide .slide_link:hover p{
    color: #6c6cf3;
}
.slidershow .sliders .slide .slide_link img{
    width: 100%;
    height: 184px;
    object-fit: cover;
}
.slidershow .sliders .slide .slide_link > p{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.slidershow .sliders input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.bar{
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    transition: .4s;
}
.slider-container button{
    position: absolute;
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    border-radius: 50%;
    outline: none;
    z-index: 10;
}
.slider-container button img{
    padding-top: 4px;
    transform: rotate(90deg);
}
.slider-container .btn1{
    right: -1%;
    transform: rotate(-180deg);
}
.slider-container .btn2{
    left: -1%;
}
.slider-container{
    position: relative;
}
.vedio-container{
    margin: 20px auto;
}
.vedio-container .vedio-qism{
    float: left;
    width: 49%;
    position: relative;
    overflow: hidden;
}
.vedio-container .vedio-qism .intervyu h3:before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: darkblue;
    border-radius: 50%;
}
.vedio-container .vedio-qism .intervyu{
    margin-bottom: 15px;
}
.vedio-container .rasm-qism .intervyu{
    margin-bottom: 15px;
}
.vedio-container .vedio-qism .intervyu> a{
    color: #0f3883;
}
.vedio-container .vedio-qism .intervyu> a:hover{
    text-decoration: none;
}
.vedio-container .vedio-qism .intervyu > h3 > a{
    text-decoration: none;
    margin: 10px;
    color: #222222;
}
.vedio-container .vedio-qism .asosiy-vedio{
    overflow: hidden;
}
.vedio-container .rasm-qism .asosiy-rasm{
    position: relative;
    overflow: hidden;
}
.vedio-container .vedio-qism .asosiy-vedio a img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: all .4s ease;
}
.vedio-container .vedio-qism .asosiy-vedio a:hover img{
    transform: scale(1.1);
}
.vedio-container .rasm-qism .asosiy-rasm a:hover img{
    transform: scale(1.1);
}
.vedio-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 82px;
    height: 82px;
    position: absolute;
    z-index: 2;
}
.vedio-container .vedio-qism .asosiy-vedio .vedio-icon{
    background-image: url("../images/vedio-icon.svg");
}
.vedio-container .rasm-qism .asosiy-rasm .vedio-icon{
    background-image: url("../images/img-icon.svg");
}
.rasm-qism{
    width: 49%;
    float: right;
    position: relative;
}
.vedio-container .rasm-qism .intervyu h3:before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: darkblue;
    border-radius: 50%;
}
.vedio-container .rasm-qism .intervyu> a{
    color: #0f3883;
}
.vedio-container .rasm-qism .intervyu> a:hover{
    text-decoration: none;
}
.vedio-container .rasm-qism .intervyu > h3 > a{
    text-decoration: none;
    margin: 10px;
    color: #222222;
}
.vedio-container .rasm-qism .asosiy-rasm a img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: all .4s ease;
}
.vedio-text{
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 24px;
    color: black;
    line-height: 23px;
    font-weight: bold;
}
.vedio-container .rasm-qism .row{
    margin-top: 10px;
}
.vedio-container .rasm-qism .row .col{
    width: 49%;
    overflow: hidden;
}
.vedio-container .rasm-qism .row .col img{
    width: 100%;
}
.vedio-container .rasm-qism .row .col a{
    text-decoration: none;
    color: #222222;
}
.vedio-container .rasm-qism .row .col a p .old:before{
    content: '';
    display: inline-block;
    background-image: url("../images/date.svg");
    width: 16px;
    height: 18px;
    vertical-align: bottom;
}
.vedio-container .rasm-qism .row .col a p .old{
    float: left;
    font-size: 14px;

}
.vedio-container .rasm-qism .row .col a p span:last-child{
    float: right;
}
.vedio-container .rasm-qism .row .col a:hover img{
    transform: scale(1.1);
}
