body{
    margin: 0;
    padding: 0;
}
.card{
    width: 300px;
    min-height: 250px;
    border: 1px solid black;
    float: left;
    display: none;
    margin-right: 20px;
}
 figure img{
    width: 20%;
     float: left;
}
.card p{
    margin: 0;
    padding: 15px;
}
#slider{
    display: none;
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    90%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: .4s;
}
.bar:hover{
    background-color: #fff;
}
input[name="r "]{
    position: absolute;
    visibility: hidden;
}
.sliders{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: .6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
     margin-left: -60%;
 }
#r5:checked ~ .s1{
      margin-left: -80%;
  }
button{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 23%;
    top: 50%;
    border-radius: 50%;
    outline: none;
}
button img{
    padding-top: 4px;
    transform: rotate(90deg);
}
.btn1{
    left: 74.7%;
    transform: rotate(-180deg);
}
.oldinga{
    margin-left: -20%;
}
